<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Player: <%= currentPlayer.name %>
    </h1>
    <h2>Your choice: <%= currentPlayer.option %>
    </h2>

    <h1>Opponent: <%= otherPlayer.name %>
    </h1>
    <h2>Their choice: <%= otherPlayer.option %>
    </h2>

    <h2>
        <%= result %>
    </h2>

    <a href="/game">Play again</a>
</body>

</html>